.pagination {
	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}

	&__card {
		width: calc(25% - 10px);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin: 0 5px;
		border: 1px solid gray;
		border-radius: 4px;
		padding: 20px;
		font-size: 40px;
	}

	&__control {
		display: flex;
		justify-content: center;
		padding-top: 50px;
	}

	&__item {
		width: 40px;
		height: 40px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		border-radius: 4px;
		margin: 0 4px;
		border: 1px solid brown;
		cursor: pointer;
		user-select: none;

		&.active {
			background-color: brown;
			color: #fff;
		}
	}
}
