.input {
	position: relative;
	width: 100%;

	&__field {
		width: 100%;
		height: 45px;
		font-size: 16px;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		padding: 0 15px;
		outline: none;

		&:focus {
			border-color: brown;
		}
	}

	&--error {
		border-color: red;

		.input__field {
			border-color: red;
		}

		span {
			position: absolute;
			left: 3px;
			bottom: -12px;
			font-size: 10px;
			color: red;
		}
	}
}
