.button {
	background-color: white;
	border-color: brown;
	outline: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	transition: color 0.25s, background-color 0.25s linear;

	@media (min-width: 1280px) {
		&:hover {
			background-color: brown;
			color: white;
		}
	}
}
