.form {
	width: 100%;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}

	&__element {
		width: 100%;
		margin: 0 5px 15px;

		&--half.input {
			width: calc(50% - 10px);
		}

		&--submit.button {
			width: auto;
			margin: 0 5px 0 auto;
		}
	}
}
