.textarea {
	width: 100%;

	&__field {
		width: 100%;
		font-size: 16px;
		padding: 15px;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		resize: none;
		outline: none;

		&:focus {
			border-color: brown;
		}
	}
}
