.list {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		width: calc(25% - 10px);
		height: 250px;
		padding: 20px;
		margin: 0 5px 15px;
		border-radius: 5px;
		overflow: hidden;
		color: inherit;
		text-decoration: none;

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: transform 0.25s linear;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}

	&__card-title {
		position: relative;
		font-size: 24px;
		color: white;
		z-index: 1;
	}

	&__read-more {
		position: relative;
		margin-top: auto;
		color: greenyellow;
		z-index: 1;
	}

	&__buttons-box {
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: 25px;
	}

	&__load {
		background-color: transparent;
		border-radius: 4px;
		border-color: brown;
		outline: none;
		padding: 10px 35px;
		margin-right: 25px;
		cursor: pointer;
		transition: background-color 0.25s, border 0.25s, color 0.25s linear;

		&:hover {
			background-color: brown;
			border-color: brown;
			color: white;
		}
	}
}
