.tabs {
	width: 100%;

	&__tab {
		outline: none;
		padding: 10px 30px;
		border-color: aquamarine;
		border-radius: 6px 6px 0 0;
		cursor: pointer;

		&.active {
			background-color: yellowgreen;
		}
	}

	&__content-box {
		background-color: gainsboro;
		border-radius: 0 0 4px 4px;
	}

	&__content {
		padding: 25px;
	}
}
