.article {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px 20px;

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 16px;
		line-height: 1.2;
	}
	
	&__date {
		font-size: 12px;
		color: #999;
	}
}
