.svg {
	&--header-logo {
		width: 170px;
		height: 50px;
		fill: brown;
	}

	&--login {
		width: 25px;
		height: 25px;
		fill: brown;
		margin-right: 10px;
	}

	&--footer-logo {
		width: 170px;
		height: 50px;
		fill: white;
	}
}
