.popup {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	animation: fadeIn 0.25s linear forwards;

	&.close {
		animation: fadeOut 0.25s linear forwards;

		.popup__wrapper {
			animation: fromY 0.25s linear forwards;
		}
	}

	&__layout {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(#000, 0.6);
	}

	&__wrapper {
		position: relative;
		width: 100%;
		max-width: 575px;
		background-color: #fff;
		border-radius: 10px;
		padding: 40px 40px 40px 25px;
		animation: toY 0.25s linear forwards;

		&--quiz {
			max-width: 768px;
		}
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 25px;
		height: 25px;
		background-color: transparent;
		border: 1px solid brown;
		border-radius: 4px;
		cursor: pointer;

		&::before,
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			background-color: brown;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&__title {
		font-size: 30px;
		margin-bottom: 25px;
		text-align: center;
	}

	&__text {
		font-size: 20px;
		text-align: center;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes toY {
	0% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fromY {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-50px);
	}
}
