.main {
  flex: 1 0 auto;

  &__form {
    background-color: aliceblue;
    padding: 25px 30px;
    border-radius: 5px;
    margin-bottom: 50px;
  }

  &__form-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__accordion {
    margin-bottom: 50px;
  }

  &__tabs {
    margin-bottom: 50px;
  }

  &__map {
    margin-bottom: 50px;
  }

	&__modal {
		margin-bottom: 50px;
	}

	&__modal-button {
		background-color: transparent;
		border-radius: 4px;
		border-color: brown;
		outline: none;
		padding: 10px 35px;
		margin-right: 25px;
		cursor: pointer;
	}

	&__list {
		margin-bottom: 50px;
	}
}
