.select {
	position: relative;
	width: 100%;
	height: 45px;
	font-size: 16px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	border-radius: 4px;

	&__title {
		position: relative;
		width: 100%;
		height: 100%;
		line-height: 45px;
		padding: 0 20px;
		cursor: pointer;

		&::before {
			position: absolute;
			content: '';
			width: 7px;
			height: 7px;
			border-bottom: 2px solid brown;
			border-left: 2px solid brown;
			top: 50%;
			right: 20px;
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	&__dropdown {
		position: absolute;
		width: 100%;
		border: 1px solid #e5e5e5;
		border-radius: 0 0 4px 4px;
		background-color: #fff;
		left: 0;
		display: none;
	}

	&__option {
		padding: 11px 20px;
		cursor: pointer;
		transition: color 0.25s, background-color 0.25s linear;

		&.hide {
			display: none;
		}

		&.checked {
			color: white;
			background-color: rgba(brown, 0.4);
		}

		&:hover {
			color: white;
			background-color: rgba(brown, 0.4);
		}
	}

	&.open {
		.select__dropdown {
			display: block;
		}

		.select__title {
			&::before {
				top: calc(50% + 2px);
				transform: translateY(-50%) rotate(135deg);
			}
		}
	}
}
