.quiz {
	&__steps {
		display: flex;
		align-items: center;
	}

	&__step {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		border-radius: 25px;
		border: 1px solid #dfdfdf;
		padding: 0 20px;
		margin-right: 20px;

		&::after {
			position: absolute;
			content: '';
			width: 20px;
			height: 2px;
			background-color: #dfdfdf;
			top: 50%;
			transform: translateY(-50%);
			left: 100%;
		}

		&:last-of-type {
			&::after {
				content: none;
			}
		}

		&.active {
			border-color: #007aff;

			&::after {
				background-color: #007aff;
			}
		}
	}

	&__content {
		padding-top: 30px;
	}

	&__content-title {
		font-size: 20px;
		margin-bottom: 20px;
	}

	&__content-wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}

	&__card {
		position: relative;
		width: calc(33.33% - 10px);
		height: 230px;
		margin: 0 5px 10px;
		padding: 12px;
		border-radius: 5px;
		overflow: hidden;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			top: 0;
			left: 0;
		}
	}
	
	&__card-label {
		position: relative;
		display: inline-flex;
		z-index: 1;
		color: #fff;
		padding: 5px;
		background-color: #007aff;
		border-radius: 5px;
	}
}
