.filter {
	width: 100%;
	margin-bottom: 50px;

	&__wrapper {
		padding: 10px 20px 20px;
		border-radius: 5px;
		background-color: aliceblue;
		margin-bottom: 25px;
	}

	&__elems {
		display: flex;
		flex-wrap: wrap;
	}

	&__element {
		&--quarter {
			width: calc(25% - 10px);
			margin: 0 5px 10px;

			&.checkbox {
				width: calc(25% - 10px);
				margin: 0 5px 10px;
			}

			&.select {
				width: calc(25% - 10px);
				margin: 0 5px 10px;
			}
		}

		&--radio {
			&.radiobox {
				width: calc(12.5% - 10px);
				margin: 0 5px 10px;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: flex-end;
	}

	&__button {
		&--submit {
			background-color: brown;
			color: white;
			margin-right: 20px;
		}
	}

	&__sort-box {
		margin-bottom: 15px;
	}

	&__result {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}

	&__card.card {
		width: calc(33.33% - 10px);
		margin: 0 5px 15px;
	}
}
