.card {
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #ccc;

	&__image-box {
		width: 100%;
		height: 250px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		padding: 20px;
	}

	&__name {
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 20px;
	}

	&__footage,
	&__price,
	&__available,
	&__deal {
		font-size: 20px;
		margin-bottom: 10px;

		span {
			color: brown;
		}
	}
}
