.todo-item {
	width: 100%;
	display: flex;
	align-items: center;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px 30px;
	margin-bottom: 10px;

	strong {
		padding: 0 7px;
		margin-left: 10px;
	}

	input {
		cursor: pointer;
	}

	button {
		margin-left: auto;
		background-color: transparent;
		border: 1px solid brown;
		border-radius: 5px;
		font-size: 20px;
		padding: 0 6px;
		cursor: pointer;
	}

	.done {
		text-decoration: line-through;
	}
}
