.radiobox {
	width: 100%;
	height: 45px;

	label {
		position: relative;
		display: block;
		width: 100%;
		line-height: 45px;
		padding-left: 30px;
		border-radius: 5px;
		background-color: #fff;
		border: 1px solid #e5e5e5;
		cursor: pointer;
		user-select: none;

		&::before {
			position: absolute;
			content: '';
			width: 15px;
			height: 15px;
			border: 1px solid brown;
			border-radius: 50%;
			top: 50%;
			left: 7px;
			transform: translateY(-50%);
		}

		&::after {
			position: absolute;
			content: '';
			width: 9px;
			height: 9px;
			top: 50%;
			left: 11px;
			background-color: brown;
			border-radius: 50%;
			transform: translateY(-50%);
			opacity: 0;
			transition: opacity 0.25s linear;
		}
	}

	input {
		display: none;

		&:checked + label {
			&::after {
				opacity: 1;
			}
		}
	}
}
