.post {
	width: 100%;
}

.posts {
	&__footer {
		display: flex;
		justify-content: center;
		padding: 20px 0;

		button {
			border: 1px solid brown;
			background-color: #fff;
			border-radius: 4px;
			outline: none;
			color: #333333;
			padding: 10px 20px;
			cursor: pointer;
			transition: background-color 0.25s, color 0.25s linear;

			&:hover {
				background-color: brown;
				color: #fff;
			}
		}
	}
}

.post-title {
	font-weight: 600;
	margin-bottom: 20px;
	font-size: 20px;
}

.add-post {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 20px;
	background-color: #dad5d5;
	margin-bottom: 20px;
	max-width: 500px;

	textarea {
		width: 100%;
		height: 75px;
		border-radius: 4px;
		border: 1px solid #ccc;
		resize: none;
		margin-bottom: 20px;
		padding: 10px 15px;
	}

	div {
		display: flex;
		justify-content: flex-end;
	}

	button {
		border: 1px solid brown;
		background-color: #fff;
		border-radius: 4px;
		outline: none;
		color: #333333;
		padding: 10px 20px;
		cursor: pointer;
		transition: background-color 0.25s, color 0.25s linear;

		&:hover {
			background-color: brown;
			color: #fff;
		}
	}

	input {
		width: 100%;
		height: 45px;
		margin-bottom: 10px;
		border-radius: 4px;
		border-color: #ccc;
	}
}

.post-item {
	padding: 10px 25px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-bottom: 10px;

	&__user {
		font-style: italic;
		margin-bottom: 10px;
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 10px;
		padding-left: 15px;
	}

	&__text {
		font-size: 18px;
		padding-left: 15px;
	}
}
