* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

#app,
.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.error-page {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-page,
.post-page,
.form-page,
.form-step,
.article-page {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

.article-page__list {
	padding-bottom: 40px;
}
