.nav {
  display: inline-flex;
  margin: 0 auto 0 50px;

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    font-weight: 600;
    font-size: 15px;
    color: #333;
    text-decoration: none;
    padding: 0 20px;
    transition: color 0.25s linear;

    @media (min-width: 1280px) {
      &:hover {
        color: brown;
      }
    }
  }

  &__item {
    a {
      font-weight: 600;
      font-size: 15px;
      color: #333;
      text-decoration: none;
    }
  }
}
