.accordion {
	width: 100%;
	background-color: antiquewhite;
	padding: 30px;
	border-radius: 5px;

	&__item {
		margin-bottom: 20px;
		
		&.open {
			.accordion__header::after {
				top: calc(50% + 2px);
				transform: translateY(-50%) rotate(135deg);
			}

			.accordion__dropdown-box {
				display: block;
			}
		}
	}

	&__header {
		position: relative;
		font-size: 18px;
		border: 1px solid cadetblue;
		padding: 10px 20px;
		border-radius: 4px 4px 0 0;
		cursor: pointer;

		&::after {
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			border-left: 1px solid cadetblue;
			border-bottom: 1px solid cadetblue;
			top: calc(50% - 2px);
			right: 20px;
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	&__dropdown-box {
		display: none;

		&.animate {
			display: block;
			overflow: hidden;
			transition: max-height 0.25s linear;
			max-height: 0;
		}
	}

	&__dropdown {
		font-size: 15px;
		padding: 20px;
		background-color: #c3dfe0;
		border-radius: 0 0 4px 4px;
		border: 1px solid cadetblue;
	}
}
