.auth {
	position: relative;
	display: inline-flex;
	min-width: 150px;

	&__header {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
	}

	&__dropdown {
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		background-color: #fff;
		padding: 10px;
		box-shadow: 0 5px 5px #333333;
		border-radius: 0 0 4px 4px;
		z-index: 5;
	}

	&__button {
		width: 100%;
		background-color: transparent;
		border-radius: 5px;
		border-color: brown;
		padding: 5px;
		cursor: pointer;
		outline: none;
	}
}
