.slider {
	margin-bottom: 50px;

	.swiper-button-prev,
	.swiper-button-next {
		width: 50px;
		height: 50px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0 0 5px gray;
		transition: background-color 0.25s linear;

		&::after {
			font-size: 22px;
			color: brown;
			transition: color 0.25s linear;
		}

		@media (min-width: 1280px) {
			&:hover {
				background-color: brown;

				&::after {
					color: #fff;
				}
			}
		}
	}

	.swiper-pagination-bullet {
		opacity: 1;
		background-color: #fff;
	}
}

.slide {
	position: relative;
	width: 100%;
	height: 450px;
	display: flex;
	align-items: center;
	padding: 40px;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
	}

	&__text-box {
		position: relative;
		width: 45%;
		background-color: #fff;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 5px 10px 2px #000;
	}

	&__title {
		font-weight: 600;
		font-size: 32px;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 18px;
	}

	&__bullet {
		&--active {
			&.swiper-pagination-bullet {
				background-color: brown;
				opacity: 1;
			}
		}
	}
}
